# dependencies
/node_modules/

# react-router
/.react-router/
/build/
/dist/

# workflow
NOTES.md
*.NOTES.md
*.wip.*

# wrangler (cloudflare)
/.wrangler/
.dev.vars

# typescript
*.tsbuildinfo

# os
.DS_Store
